<!-- <div class="background mx-auto">
    <div class="card background m-4">
        <div class="road">
            <img class="police" src="../../../assets/police-removebg-preview1.png">
        </div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="road"></div>
        <div class="mx-auto" id="wild"><p class="wild-text">404</p><p class="wild-notfound">Page Not Found</p></div>
    </div>
    
</div> -->
<div class="text"><p>404</p></div>
<div class="container">
    <img class="police" id="p1" src="../../../assets/police-removebg-preview.png">
    <img class="police" id="p2" src="../../../assets/police-removebg-preview.png">
    <img class="police" id="p3" src="../../../assets/police-removebg-preview.png">
</div>