.overlay-2{
    background-color: rgba(0,0,0,0.6);
}
.overlay-1{
    background-color: rgba(0,0,0,0.2);
}
/* .col{
    height: 100vh;
} */
.form{
    color: aliceblue;
}
select, option,input, select:focus, select:active, option:focus , #date:focus, #date:active{
    background-color: rgb(114, 114, 114);
    outline: none;
    color:white;
    border: none;
}
select:focus, select:active, option:focus , #date:focus{
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
@media (max-width: 1041px){
.container-fluid{
    background: url("../../../assets/bus.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;
}
}
@media (min-width: 1042px){
.container-fluid{
    background: url("../../../assets/bus.jpg");
    background-size:100% 100%;
    width: 100%;
    height: 100%;
}
}