<div class="container">
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th *ngFor="let header of headers">{{header}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><button type="button" class="btn btn-primary" routerLink="/product" [queryParams]="{ id: product.id }">View Detail</button></td>
        </tr>
        </tbody>
    </table>
</div>