div{
	text-align:center;
	border:dotted ;
	border-width: 2px;
	border-color:chocolate;
}
header:nth-child(odd){
	background-color: aqua;
	height:50px;
}
header:nth-child(even) {
	background-color: cadetblue;
	height: 50px;
}
section {
	text-align: center;
	border: solid;
	border-width: 2px;
	border-color: chocolate;
}
body {
	background-repeat: no-repeat;
	background-image: url("https://images.pexels.com/photos/251603/pexels-photo-251603.jpeg?cs=srgb&dl=pexels-spemone-251603.jpg&fm=jpg")
}
p{
	border:dashed;
}
p:nth-child(1){
	font-size:26px;
}
p:nth-child(2){
	font-size:20px;
	color:indigo;
	font-weight:bold;
}
p span {
	background-color: #FFFF00;
}
<link rel="stylesheet" href="style.css" / >