<div class="container">
    <div class="card shadow margin">
        <div class="card-header text-center ">Sign Up</div>
        <div class="card-body p-4">
        <form [formGroup]="registerform" (ngSubmit)="formSubmit()">
            <div class="form-row row">
                <div class="form-group col">
                    <label for="name">Full Name</label>
                    <input id="name" name="name" class="form-control" formControlName="name">
                    <div class="text-danger" *ngIf="submitted && f.name.errors  && f.name.errors?.required">name is required</div>
                    <div class="text-danger" *ngIf="submitted && f.name.errors && f.name.errors?.minlength">name must has atleast 3 character</div>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col">
                    <label for="email">Email</label>
                    <input id="email" name="email" class="form-control" formControlName="email">
                    <div class="text-danger" *ngIf="submitted && f.email.errors && f.email.errors?.required">email is required</div>
                    <div class="text-danger" *ngIf="submitted && f.email.errors && f.email.errors?.email">input valid email</div>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col">
                    <label for="address">Address</label>
                    <input id="address" name="address" class="form-control" formControlName="address">
                    <div class="text-danger" *ngIf="submitted && f.address.errors && f.address.errors?.required">address is required</div>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-6">
                    <label for="phone">Phone</label>
                    <input id="phone" name="phone" class="form-control" formControlName="phone">
                    <div class="text-danger" *ngIf="submitted && f.phone.errors && f.phone.errors?.required">phone number is required</div>
                    <div class="text-danger" *ngIf="submitted && f.phone.errors && f.phone.errors?.pattern">input valid phone number</div>
                </div>
                <div class="form-group col-6">
                    <label for="city">City</label>
                    <input id="city" name="city" class="form-control" formControlName="city">
                    <div class="text-danger" *ngIf="submitted && f.city.errors && f.city.errors?.required">city is required</div>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-6">
                    <label for="password">Password</label>
                    <input id="password" name="password" class="form-control" formControlName="password">
                    <div class="text-danger" *ngIf="submitted && f.password.errors && f.password.errors?.required">password is required</div>
                    <div class="text-danger" *ngIf="submitted && f.password.errors && f.password.errors?.minlength">name must has atleast 8 character</div>
                </div>
                <div class="form-group col-6">
                    <label for="confirmPassword">Confirm Password</label>
                    <input id="confirmPassword" name="confirmPassword" class="form-control" formControlName="confirmPassword">
                    <div class="text-danger" *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.matched">password does not match</div>
                </div>
            </div>
            <div class=" text-center">
                <button class="btn btn-primary m-2" type="submit">Register</button>
                <button class="btn btn--light m-2" type="reset">Reset</button>
            </div>
        </form>
    </div>
    </div>
</div>