<div class="container">
    <div class="row m-4">
        <div class="col-5">
            <div class="card shadow p-4">
                <h4>INPUT</h4>
                <form (ngSubmit)="submitform(myForm)"  #myForm="ngForm">
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Full Name" minlength="3" [(ngModel)]="formModel.name" #name="ngModel" required>
                        <div class="text-danger" [hidden]="name.valid || name.pristine">invalid email</div>
                      </div>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"  ngModel email [(ngModel)]="formModel.email" #email="ngModel" required>
                      <div class="text-danger" [hidden]="email.valid || email.pristine">invalid email</div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="number" class="form-control" id="phone" name="phone" placeholder="XXXXXXXXXX" pattern="[1-9][0-9]{9}" max="10" [(ngModel)]="formModel.phone" #phone="ngModel" required>
                        <div class="text-danger" [hidden]="phone.valid || phone.pristine">invalid phone number</div>
                      </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="formModel.password" #password="ngModel" required>
                      <div class="text-danger" [hidden]="password.valid || password.pristine">Password is required</div>
                    </div>
                    <div class="form-group">
                        <label for="password1">Confirm Password</label>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" [(ngModel)]="formModel.password1" #password1="ngModel" required>
                        <div class="text-danger" [hidden]="matched">Password does not match</div>
                      </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Submit</button>
                    <button type="reset" class="btn btn-default" (click)="resetform()">reset</button>
                  </form>
            </div>
        </div>
        <div class="col-5" *ngIf="submitted">
            <div class="card shadow p-4">
                <h4>OUTPUT</h4><br><br>
                <span>Full Name : {{formOutModel.name}}</span><br>
                <span>Email : {{formOutModel.email}}</span><br>
                <span>Mobile : {{formOutModel.phone}}</span><br>
                <span>Password : {{formOutModel.password}}</span><br>
            </div>
        </div>
    </div>
</div>
