<table class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.dept}}</td>
      <td>{{employee.city}}</td>
      <td>{{employee.email}}</td>
      <td><button type="button" (click)="editEmployee(employee.id)" class="btn btn-light"><i class="bi bi-pencil-square"></i></button>&nbsp;<button type="button" class="btn btn-light" (click)="deleteEmployee(employee.id)"><i class="bi bi-trash"></i></button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="buttonFlag">
  <form>
    <br>
    <div class="form-group row mx-sm-3 mb-2">
      <label for="empId" class="col-sm-2 col-form-label">Employee ID: </label>
      <div class="col-sm-10">
        <input name="empId" readonly type="number" class="form-control" [value]="editData.id"><br>
      </div>
      <label for="empFName" class="col-sm-2 col-form-label">First Name: </label>
      <div class="col-sm-10">
        <input name="empFName" type="text" class="form-control" [(ngModel)]="editData.firstName"><br>
      </div>
      <label for="empLName" class="col-sm-2 col-form-label">Last Name: </label>
      <div class="col-sm-10">
        <input name="empLName" type="text" class="form-control" [(ngModel)]="editData.lastName"><br>
      </div>
      <label for="empDept" class="col-sm-2 col-form-label">Department: </label>
      <div class="col-sm-10">
        <input name="empDept" type="text" class="form-control" [(ngModel)]="editData.dept"><br>
      </div>
      <label for="empCity" class="col-sm-2 col-form-label">City: </label>
      <div class="col-sm-10">
        <input name="empCity" type="text" class="form-control" [(ngModel)]="editData.city"><br>
      </div>
      <label for="empEmail" class="col-sm-2 col-form-label">Email: </label>
      <div class="col-sm-10">
        <input name="empEmail" type="email" class="form-control" [(ngModel)]="editData.email"><br>
      </div>
      <button type="button" (click)="doneEdit()" class="btn btn-success">Done</button>
    </div>
  </form>
</div>


